[api]

# The api_key can be found in your Google Developer's Console.
# See README.md for more details.
api_key:

# See README.md for details on how to set up a Google custom
# search engine
search_engine:

[cmd]
# The command that will be given the web URL. In most
# scenarios, "gnome-open" will suffice.
open_url_cmd: gnome-open

# By default, the output of all commands are redirected to
# /dev/null. The output from both "open_url_cmd" and 
# "post_cmd" are redirected.
cmd_dest:

# The "post_cmd" command is issued after "open_url_cmd", and
# is designed to be used to give your browser focus. 
#
# It works especially great with i3 if you're always running
# your browser in the same workspace:
# 	post_cmd: i3 workspaceX
post_cmd:
